* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'PT Sans Narrow', sans-serif;
}

.container {
    height: 100vh;
    /* border: 1px solid black; */
}

.title-section {
    height: 4%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    color: white;
    box-shadow: white 10px;
    background-color: #2f3640;
}

.menu-bar-section {
    height: 4%;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    color: white;
    background-color: #353b48;
}

.menu-bar-section div {
    margin-left: 1%;
}

.menu-options-section {
    border-bottom: 1px solid black;
    height: 8%;
    background-color: white;
}

.formula-section {
    height: 4%;
    border-bottom: 1px solid black;
    display: flex;
    background: white;
}

.formula-section .selected-cell-div {
    height: 100%;
    width: 20%;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formula-input-section {
    display: block;
    width: 80%;
    height: 100%;
    outline: none;
    border: none;
}

.grid {
    height: 76%;
    border-bottom: 1px solid black;
    overflow: auto;
    position: relative;
}

.sheets-section {
    height: 4%;
    /* border: 1px solid black; */
}

.blank-corner {
    height: 30px;
    width: 30px;
    top: 20vh;
    left: 0;
    position: fixed;
    z-index: 10;
    border: 1px solid black;
    background-color: white;
}

.row-number-section {
    display: inline-block;
    position: fixed;
    top: calc(20vh + 30px);
    background-color: #f5f6fa;
    z-index: -10;
}

.row-number {
    height: 30px;
    width: 30px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column-tag-section {
    height: 30px;
    display: inline-block;
    border: 1px solid black;
    border-top: none;
    position: fixed;
    top: 20%;
    left: 30px;
    display: flex;
    flex-shrink: 0;
    background-color: #f5f6fa;
}

.column-tag {
    width: 80px;
    height: 30px;
    border-left: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell-section {
    height: calc(100% - 30px);
    width: calc(100% - 30px);
    background-color: white;
    position: absolute;
    top: 30px;
    left: 30px;
    overflow: auto;
}

.row {
    display: flex;
}

.cell {
    width: 80px;
    height: 30px;
    border: 1px solid;
    flex-shrink: 0;
    outline: none;
}

.cell-selected {
    border: 3px rgb(90, 90, 172) solid;
}